<div >
    <button class='btn btn-success'>
        <a [routerLink]="['/employeeAdd']" style='color:white;text-decoration: none;'>Add New Employee</a></button>
</div><br>

<div class='panel panel-primary'>
    <div class='panel-heading' style="width: 100%;text-align:center;font-size: 2em; ">
        {{pageTitle}}
    </div>

    <div class='table-responsive'>
        <table class='table'
            *ngIf='employees && employees.length'>
            <thead bgcolor='337AB7'>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th>Address</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Gender</th>
                    <th>Qualification</th>
                    <th>Experience</th>
                    <th>Language</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
                <tbody>
                    <tr *ngFor='let employee of employees'>
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>{{employee.email}}</td>
                        <td>{{employee.contactNumber}}</td>
                        <td>{{employee.address}}</td>
                        <td>{{employee.userName}}</td>
                        <td>{{employee.password}}</td>
                        <td>{{employee.gender}}</td>
                        <td>{{employee.qualification}}</td>
                        <td>{{employee.experience}}</td>
                        <td>{{employee.language}}</td>
                        <td>

                              <a class="btn btn-primary" [routerLink]="['/employeeEdit',employee.id]"> Edit</a>

                        </td>
                        <td>
                            <button class="btn btn-danger" (click)="delete(employee)" >Delete</button>
                        </td>
                    </tr>
                </tbody>

        </table>
    </div>
</div>
